html {
    font-family: "Poppins",BlinkMacSystemFont,-apple-system,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: white;
    background-color: #19191c;
    height: 100%;
    font-size: 16px;
}

body {
    margin: 0;
}

p {
    cursor: default;
    margin: 0;
}

a {
    color: #55b8ff;
    text-decoration: none;
}



.main {
    width: 100%;
    margin: 100px auto 0;
    position: absolute;
    padding-bottom: 30px;
}

.main-inner {
    display: flex;
    gap: 30px;
    width: fit-content;
    padding: 0 40px;
    margin: 0 auto;
}



@media (max-width: 500px) {
    html {
        font-size: 3.2vw;
    }

    .main {
        margin-top: 4vw;
    }

    .main-inner {
        gap: 6vw;
        padding: 0 8vw;
    }
}