html {
    font-family: "Poppins",BlinkMacSystemFont,-apple-system,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: white;
    background-color: #19191c;
    height: 100%;
    font-size: 16px;
}

body {
    margin: 0;
}

p {
    cursor: default;
    margin: 0;
}

a {
    color: #55b8ff;
    text-decoration: none;
}

ul {
    padding-left: 40px;
}



.main {
    width: 100%;
    margin: 100px auto 0;
    position: absolute;
    padding-bottom: 30px;
}



@media (max-width: 500px) {
    html {
        font-size: 3.2vw;
    }

    .main {
        margin-top: 4vw;
    }

    ul {
        padding-left: 8vw;
    }
}